.navcontainer {
    position: fixed;
    width: 11.9vw;
    height: 100%;
    background-color: #34057f;
    color: white;
    top: 10%;
    overflow: hidden;
    z-index: 8000;
}

.tilt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-radius: 2em;
    background: linear-gradient(-45deg, #ffbe25 0%, #7d0a79 100%);
}

.tilt > * > div {
    font-size: 2.3em;
}

.tilt > * > input {
    padding: 0.5vw;
    font-size: 1.5em;
    border-radius: 0.5em;
    outline: none;
}

.tilt > p {
    font-size: 1.2em;
    font-weight: 600;
    color: antiquewhite;
}

.tilt > ul > li {
    font-size: 1.2em;
    font-weight: 600;
    color: antiquewhite;
}

.innerNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cyan;
    height: 20vh;
    width: 100vw;
}

.innerNav ul {
    list-style: none;
}

.tbg {
    background: url('../images/abg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    left: 12.5%;
    padding-right: 10vw;
    border-top-left-radius: 3vw;
    padding-top: 13vh;
}

.tbg > * > h1,
.tbg > * > h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    color: darkblue;
    font-weight: 900;
}

.ttabs {
    padding-left: 1vw;
    padding-right: 1vw;
}

/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.wrapper {
    z-index: 1;
}

.wrapper > ul {
    margin-top: 1.25vw;
    text-align: left;
    padding-top: 3vh;
    display: flex;
    gap: 1.563vw;
    flex-direction: column;
    font-size: 1.125vw;
    font-weight: bold;
}

.wrapper > ul > li {
    list-style: none;
    font-size: 1.2vw;
    text-decoration: none;
    background-color: transparent;
    transition: 0.6s all cubic-bezier(0.23, 1, 0.32, 1);
    min-height: max-content;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    padding: 0.5vw;
    padding-left: 0.7vw;
    will-change: background-color color font-size;
}

.wrapper > ul > li > a {
    font-size: 1.3vw;
    text-transform: none !important;
}

.wrapper > ul > li:active {
    color: #000;
}

.wrapper > ul > li:hover {
    background-color: white;
    color: black;
    font-size: 1.375vw;
}

@media only screen and (max-width: 560px) {
    /* For mobile phones: */
    .navcontainer {
        width: 4.375vw;
    }

    .wrapper > ul {
        gap: 0.313vw;
    }
    .wrapper > ul > li:hover {
        color: red;
    }
    .wrapper > ul > li > a {
        opacity: 0;
    }
}

/* header css starts  */

.headcontainer {
    top: 0;
    position: fixed;
    z-index: 8000;
    min-height: max-content;
    height: 11vh;
    width: 100%;
    padding: 1vw;
    padding-left: 14vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #34057f;
}

.title {
    margin-left: 2.5vw;
}
.title > h2 {
    color: rgb(255, 255, 255);
    font-size: 2vw;
}
.title > p {
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
}
.title > h2 > span {
    color: rgb(16, 171, 111);
}

.image {
    min-width: 5vw;
    max-width: 6vw;
    height: auto;
    margin: 0;
    border-radius: 50%;
    cursor: pointer;
}

@media only screen and (max-width: 560px) {
    /* For mobile phones: */
    .headcontainer {
        width: 100%;
        margin-left: 4.375vw;
    }
}
/* 
content of dashboard start */

.contentcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #34057f;
}

.contentcontainer section {
    overflow: hidden;
    position: relative;
    left: 12%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 12vw;
    background-color: #fde9ff;
    width: 100%;
    height: 100vh;
    border-top-left-radius: 3vw;
}

.tbg > * > h3 {
    margin-bottom: 10vh;
}

.contentwrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1.25vw;
    gap: 2.5vw;
}
.tabs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: max-content;
    width: 17vw;
    height: 6.25vw;
    background-color: #dc245d;
    border-radius: 0.625vw;
    cursor: pointer;
    overflow: hidden;
    transition: 0.6s all cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: 0.188vw 0vw 0.375vw 0vw rgba(246, 246, 246, 0.75);
    will-change: background-color;
}

.tabs:hover {
    background-color: #f11b5f;
}

.categories > h2,
.categories > * > h2 {
    color: #fde9ff;
    font-size: 2vw;
}

/* 
charts css started  */

.charts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 1.25vw;
    gap: 6vw;
}
.bar {
    margin-left: 1.25vw;
}

.bar > h2,
.circle > h2 {
    font-size: 2vw;
}

.circle {
    margin-left: 7.5vw;
}

.nut {
    width: 25vw !important;
    height: auto !important;
    margin: 0;
}

.line {
    width: 35vw !important;
    height: auto !important;
    margin: 0;
}

.gold {
    --size: 40px;
    --padding-vertical: calc(var(--size) / 4);
    background-color: gold;
    border: 0;
    border-radius: calc(var(--size) * 0.2);
    font-size: var(--size);
    padding: var(--padding-vertical) var(--size);
    padding-bottom: calc(var(--padding-vertical) + calc(var(--size) * 0.3));
    box-shadow: 0 calc(0px - (var(--size) * 0.3)) 0 0px rgba(0, 0, 0, 0.5) inset;
    outline: calc(var(--size) * 0.1) solid black;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s;
}
.gold:hover {
    padding-bottom: calc(var(--padding-vertical) + calc(var(--size) * 0.3) + var(--size) * 0.2);
    box-shadow: 0 calc(0px - ((var(--size) * 0.3 + var(--size) * 0.2))) 0 0px rgba(0, 0, 0, 0.5)
        inset;
    transform: translateY(calc(0px - var(--size) * 0.1)) translatez(0);
}
.gold:hover:before {
    animation-duration: 4s;
    animation-name: shining_hover;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 0s;
}
.gold:hover:active {
    padding-bottom: calc(var(--padding-vertical) + calc(var(--size) * 0.3));
    box-shadow: 0 calc(0px - (var(--size) * 0.3)) 0 0px rgba(0, 0, 0, 0.5) inset;
    transform: translateY(0) translatez(0);
}
.gold:hover:active:before {
    animation-duration: 4s;
    animation-name: shining;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 0s;
}
.gold label {
    --border-color: rgba(0, 0, 0, 1);
    --border-width: calc(var(--size) * 0.04);
    font-family: Fredoka One;
    color: white;
    filter: drop-shadow(0 calc(var(--size) * 0.125) 0px black);
    text-shadow: calc(0px - var(--border-width)) 0 var(--border-color),
        0 var(--border-width) var(--border-color), var(--border-width) 0 var(--border-color),
        0 calc(0px - var(--border-width)) var(--border-color);
    pointer-events: none;
}
.gold:after {
    content: '';
    width: 100%;
    height: 2px;
    background: radial-gradient(rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 750%);
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.gold:before {
    content: '';
    width: 0px;
    height: calc(var(--size) * 4);
    transform: rotatez(25deg);
    box-shadow: 0px 0 20px 5px rgba(255, 255, 255, 0.75);
    position: absolute;
    top: calc(0px - var(--size));
    left: calc(0px - var(--size) * 1.5);
    animation-duration: 4s;
    animation-name: shining;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 2s;
}

@keyframes shining {
    0% {
        left: calc(0px - var(--size) * 1.5);
    }
    10% {
        left: calc(100% + var(--size) * 1.5);
    }
    100% {
        left: calc(100% + var(--size) * 1.5);
    }
}
@keyframes shining_hover {
    0% {
        left: calc(0px - var(--size) * 1.5);
    }
    10% {
        left: calc(100% + var(--size) * 1.5);
    }
    100% {
        left: calc(100% + var(--size) * 1.5);
    }
}
