.main {
    background-image: url('../images/sbg3.jpg');
    background-position: center;
    background-size: contain;
}

.cart {
    background-image: url('../images/sbg3.jpg');
    background-position: center;
    background-size: contain;
}
