.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: url(../images/rbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cont > * > div {
    background: rgba(112, 171, 235, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 1.5em;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: max-content;
    height: max-content;
}

.cont > * > * > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding-bottom: 0.5em;
    margin-top: -2vh;
    overflow: hidden;
}

.cont > * > * > form > span > input,
.cont > * > * > form > input {
    border-radius: 1vw;
    border: none;
    outline: none;
    width: 12em;
    height: 2em;
    padding: 1vh;
    font-size: 2vh;
}

.cont > * > * > form > input[type='submit'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    width: max-content;
    background-color: rgba(95, 158, 160, 0.596);
    border: 0.3em solid rgba(255, 255, 255, 0.635);
    padding: 0.4em;
    transition: 0.5s all cubic-bezier(0.445, 0.05, 0.55, 0.95);
    will-change: background-color border;
}

.cont > * > * > form > input[type='submit']:hover {
    background-color: rgb(95, 158, 160);
    border: 0.3em solid rgb(255, 255, 255);
}

.cont > * > * > form > span {
    display: flex;
    gap: 0.4vw;
}
